<% include ../partials/head %>
<main>
	<div class="container" style="align:center;">
		<table id="cart" class="table table-hover table-condensed" style="vertical-align: middle;">
			<thead>
			<tr>
				<th style="width:50%">Product</th>
				<th style="width:10%">Price</th>
				<th style="width:8%">Quantity</th>
				<th style="width:22%" class="text-center">Subtotal</th>
				<th style="width:10%"></th>
			</tr>
			</thead>
			<tbody>
			<% var sum = 0;
			cartitems.forEach(function(cartitem) { %>
			<tr>
				<td data-th="Product">
					<div class="row">
						<div class="col-sm-2 hidden-xs"><img src="<%= cartitem.ImageUrl%>" alt="..." class="img-responsive" style="height:100px; width:100px;"/></div>
						<div class="col-sm-10">
							<h4 class="nomargin"><%= cartitem.ItemName %></h4>
							<p><%= cartitem.Description %></p>
						</div>
					</div>
				</td>
				<td data-th="Price" id="cartItemPrice">$<%= cartitem.Price %></td>
				<form id="saveCartForm" action="/saveCart" method="POST">
				<td data-th="Quantity">
					<input type="number" id="cartQuantity" name="itemQuantity" class="form-control text-center" min="1" max=<%= cartitem.totalQuantity%> value=<%= cartitem.Quantity%>>
				</td>
				<td data-th="Subtotal" class="text-center" id="cartSubTotal">$<%= cartitem.Price * cartitem.Quantity %></td>
				<% sum = sum + cartitem.Price * cartitem.Quantity %>
				<td class="actions" data-th="">
						<input type="hidden" value=<%= cartitem.ItemId%> name="itemId">
						<button class="btn btn-success btn-sm"><i class="glyphicon glyphicon-ok"></i></button>
				</td>
				</form>
				<td class="actions" data-th="">
					<form id="deleteItemForm" action="/deleteItem" method="POST">
						<input type="hidden" value=<%= cartitem.ItemId%> name="itemId">
						<button class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-trash"></i></button>
					</form>
				</td>
			</tr>
			<% }); %>
			</tbody>
			<tfoot>
			<tr class="visible-xs">
				<td class="text-center"><strong>Total $ <%= sum %></strong></td>
			</tr>
			<tr>
				<td><a href="/" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
				<td colspan="2" class="hidden-xs"></td>
				<td class="hidden-xs text-center" id="cartTotal"><strong>Total $<%= sum %></strong></td>
				<% if (cartitems.length > 0) { %>
					<td><a href="/confirmCheckout" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
				<% }%>
			</tr>
			</tfoot>
		</table>
	</div>
</main>
<script src="../js/jquery-2.1.1.js"></script>
<script src="../js/velocity.min.js"></script>
<script src="../js/main.js"></script> <!-- Resource jQuery -->

<% include ../partials/footer %>

